<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <style>
        .bi-cart {
            -webkit-user-select: text;
            font-size:xx-large;
            color:white;
            clear:left;
            margin-left:625px;
        }
    </style>
</head>
<body>
	<header>

		<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
			<div class="container">
				<a asp-page="/Index" class="navbar-brand">WebShop </a>

				<button class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navmenu">
					<span class="navbar-toggler-icon"></span>
				</button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a asp-page="/Past" class="nav-link">Past</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Present" class="nav-link">Present</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Future" class="nav-link">Future</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/ViewAll" class="nav-link">All Products</a>
                        </li>
                    </ul>
                    <div class="nav-item">
                        <a asp-page="/Cart" class="bi bi-cart"></a>
                    </div>
                </div>
			</div>
		</nav>
		<br />
		<br />
		<br />
		<br />
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - Newton/WebShopProject - <a asp-area="" asp-page="/Admin/Manager">Admin</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
