@page
@model WebbshoppenSS.Pages.OrderCompleteModel
@{
}

<div class="card">
  <h5 class="card-header">Thank you for your order!</h5>
  <div class="card-body">
    <h5 class="card-title">Your products will be shipped to you soon</h5>
    <p class="card-text">If you have any questions email us at <a href="#">notascam@totallyascam.org</a></p>
    <a asp-page="/Index" class="btn btn-primary">To Homepage</a>
  </div>
</div>
